@import url("https://fonts.googleapis.com/css?family=Ubuntu:500");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");
@import "./flightSearchFormStyles";
@import "./flightResultsStyles";

body {
  font-family: Roboto;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #7b8aab;
  background-color: #dfdfdf;
}

.title {
  font-family: Ubuntu;
  font-size: 72px;
  font-weight: 500;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 35px;
}

.logo {
  width: 234px;
  height: 165px;
}
